* {
  font-family: "Poppins", sans-serif;
}

.nav_bar {
  background: #515aa5;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}

body {
  margin: 0px;
  padding: 0px;
}
input {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  outline: none;
}

button {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  outline: none;
  background: #515aa5;
  color: #fff;
  cursor: pointer;
}

.contact_list {
  background: #ededed;
  padding: 1rem;
  margin: 5px;
  border-radius: 5px;
}

.contact_adder {
  background: #dedede;
  padding: 1rem;
  margin: 5px;
  border-radius: 5px;
}

.contact1 {
  background: #fff;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  padding: 10px;
}
